#
#
#
# $MirSecuCron: var_cron_tabs_root 0.0 0000/00/00 00:00:00 root Backup $
# $MirOS: src/etc/crontab,v 1.32 2009/11/28 13:01:34 tg Exp $
# $OpenBSD: crontab,v 1.15 2007/02/27 16:04:16 beck Exp $
#
# /var/cron/tabs/root - root's crontab
#
SHELL=/bin/mksh
PATH=/bin:/sbin:/usr/bin:/usr/sbin
HOME=/var/log
#
#minute	hour	mday	month	wday	command
#
# sendmail clientmqueue runner
35	*/3	*	*	*	/usr/bin/nice /usr/sbin/sendmail -L sm-msp-queue -Ac -q
#
# rotate log files every hour, if necessary
0	*	*	*	*	/usr/bin/nice -n 5 /usr/bin/newsyslog
# send log file notifications, if necessary
#1-59	*	*	*	*	/usr/bin/newsyslog -m
#
# do daily/weekly/monthly maintenance
@reboot					/usr/bin/nice -n 15 /bin/mksh /etc/cronrun -l anacron
30	1	*	*	*	/bin/mksh /etc/cronrun -t20 daily
30	3	*	*	6	/bin/mksh /etc/cronrun -t60 weekly
30	5	1	*	*	/bin/mksh /etc/cronrun -t90 monthly
#0	*	*	*	*	/usr/libexec/spamd-setup
#
# store random seed to disc every three hours
# add hardware sensors etc. to pool twice an hour
57	*/3	*	*	*	/usr/bin/nice -n -19 /usr/libexec/randshuffle
14,44	*	*	*	*	(/bin/dd if=/dev/prandom bs=1 count=1; /bin/sleep $(/usr/bin/jot -r 1 30 90); /bin/dd if=/dev/arandom bs=1 count=1; /sbin/sysctl -a; /bin/ps -akwwx -o "$(/bin/ps -L)"; /bin/ps -aexwwo pid,args; /bin/ps -axwwo pid,args) 2>&1 | /bin/cksum -ba cksum -a md4 -a rmd160 -a sfv -a sha384 -a tiger -a adler32 -a sum >/dev/wrandom
#
# pull random bytes from the 'net (useful for headless servers, but insecure)
#11	0,12	*	*	*	(/bin/sleep $(/usr/bin/jot -r 1 60 900); /usr/bin/time -l /usr/bin/ftp -Vo - http://www.randomnumbers.info/cgibin/wqrng.cgi?amount=80\&limit=1024) 2>&1 | /bin/cksum -ba sha512 -a sfv -a cdb -a suma -a rmd160 >/dev/wrandom
#31	4,16	*	*	*	(/bin/sleep $(/usr/bin/jot -r 1 60 900); /usr/bin/time -l /usr/bin/ftp -mvo /dev/urandom https://www.fourmilab.ch/cgi-bin/Hotbits?nbytes=64\&fmt=bin) 2>&1 | /bin/cksum -ba suma >/dev/wrandom
#51	8,20	*	*	*	(/bin/sleep $(/usr/bin/jot -r 1 60 900); /usr/bin/time -l /usr/bin/ftp -mvo /dev/urandom https://www.random.org/cgi-bin/randbyte?nbytes=64\&format=f) 2>&1 | /bin/cksum -ba suma >/dev/wrandom
