# $MirOS: src/etc/make.cfg,v 1.8 2006/06/11 01:08:28 tg Exp $
#@@MDPART@@
_DEFCOPTS+=	-fhonour-copts

# This is the MirMake configuration file for MirOS and MirPorts.
# This file is included by the system Makefile includes and contains
# selected default settings and modules which can be overridden, al-
# tered or activated unless $MAKECONF_OVERRIDE is set.
# *THIS IS A SAMPLE FILE*  Review it before changing.

### Set up sudo(8) first; use visudoers(8) and sudoers(5)
SUDO?=			sudo

### If you really, really want /bin and /sbin to depend on /usr/lib
# Note: this does not link _all_ binaries dynamically, but some which
# depend on being statically linked may be broken (boot process bins?)
#STATIC=		#empty
## The exact contrary
# Remove support for shared libraries
#NOPIC=			yes

### make build release process
# Build no ramdisk/floppy/CD during make release
#REL_NO_KERNEL?=	yes	# nothing
#REL_NO_FLOPPY?=	yes	# no floppy kernel/image
#REL_NO_GENERIC?=	yes	# no kernel (bsd)
#REL_NO_RAMDISK?=	yes	# no ramdisk (bsd.rd)
#REL_NO_MINIROOT?=	yes	# no miniroot (NFS)
#REL_NO_AUTOISO?=	yes	# no bootable ISO image

### debugging
# Set MKC_DEBG to enable debugging support
.if defined(MKC_DEBG) && ${MKC_DEBG:L} != "no"
_DEFCOPTS+=		-O1 -g3
.  if ${MKC_DEBG:L} != "nocpp"
_DEFCOPTS+=		-DDEBUG=1
.  endif
DEBUGLIBS=		Yes
INSTALL_STRIP=		#nothing
.endif

### Patent issues
# Define this if you live in the United States of America. Note: we're
# not aware of all patents there, just RC5, MDC-2 and TrueType hinting
#MKC_USAP?=		yes	# default: No

### Sendmail fnordisation
#SENDMAIL_WANT_SASL?=	Yes	# SMTP AUTH, needs cyrus-sasl2 port
#SENDMAIL_WANT_LDAP?=	Yes	# LDAP support, needs OpenLDAP port

