[user]
	name = mirabilos
	email = m@mirbsd.org
	signingkey = 0xE99007E0
[gc]
	auto = 0
	autopacklimit = 0
[push]
	default = simple
[alias]
	check-emptylines = !git ls-tree -r --name-only -z HEAD | env LC_ALL=C sort -z | xargs -0r pcregrep -l -M $'\\n\\n\\n'
	check-whitespace = "!git diff-tree --check $(git hash-object -t tree /dev/null) HEAD; git find | grep -Evi '\\.(png|jpe?g|gif|deb|rpm|vpp)' | while IFS= read -r name; do test -h \"$name\" && continue; test -z \"$(tail -c -1 \"$name\")\" || printf '%s: no newline at EOF\\n' \"$name\"; done"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
	wdiff = diff --word-diff=color
	wdiffc = diff --word-diff=color --word-diff-regex.
[color]
	ui = auto
[core]
	quotePath = false
[url "git://git.debian.org/d-i/"]
	insteadOf = git+ssh://git.debian.org/git/d-i/
[url "git+ssh://git.debian.org/git/"]
	insteadOf = git://anonscm.debian.org/
	insteadOf = git://git.debian.org/
	pushInsteadOf = git://anonscm.debian.org/
	pushInsteadOf = git://git.debian.org/
[url "git@github.com:"]
	insteadOf = https://github.com/
	pushInsteadOf = https://github.com/
