Source: ca-bundle
Origin: WTF
Bugs: mailto:wtf@mirbsd.org
Section: misc
Priority: extra
Maintainer: Thorsten Glaser <t.glaser@tarent.de>
Build-Depends: debhelper (>= 4), ed, openssl
Standards-Version: 3.9.7
Vcs-CVS: :ext:_anoncvs@anoncvs.mirbsd.org:/cvs contrib/hosted/tg/deb/ca-bundle
Vcs-Browser: https://www.mirbsd.org/cvs.cgi/contrib/hosted/tg/deb/ca-bundle/

Package: ca-bundle
Architecture: all
Depends: ${misc:Depends}
Recommends: openssl
Conflicts: ca-certificates, ca-certificates-java
Replaces: ca-certificates, ca-certificates-java,
 cacao-oj6-jre-headless, gajim, ia32-sun-java5-bin,
 ia32-sun-java6-bin, j2re1.4, java-gcj-compat-headless, jxplorer,
 kdelibs-data, kdelibs-data-kde3, kdelibs-data-trinity, kdelibs5-data,
 libapache-mod-ssl, libgcj-common, libgcj10, libgcj11,
 openjdk-6-jre-headless, openjdk-7-jre-headless, openjdk-8-jre-headless,
 openjdk-9-jre-headless,
 oracle-j2sdk1.6, oracle-java6-jre, oracle-java7-jre, oracle-java8-jre,
 oracle-java9-jre, sun-java5-bin, sun-java6-bin, sympa
Provides: ca-certificates, ca-certificates-java
Enhances: curl, gajim, gnutls-bin, libgnutls13, libgnutls26, libssl0.9.8,
 libssl1.0.0, libssl1.0.2, lynx, lynx-cur, lynx-secure, openssl,
 oracle-j2sdk1.6, oracle-j2sdk1.7, oracle-j2sdk1.8, oracle-j2sdk1.9,
 cacao-oj6-jre-headless, ia32-sun-java5-bin, ia32-sun-java6-bin, j2re1.4,
 java-gcj-compat-headless, kdelibs-data, kdelibs-data-kde3, kdelibs5-data,
 libapache-mod-ssl, libgcj-common, libgcj10, libgcj11, libgcj12,
 openjdk-6-jre-headless, openjdk-7-jre-headless, openjdk-8-jre-headless,
 openjdk-9-jre-headless, sun-java5-bin, sun-java6-bin, sympa, jxplorer
Description: ca-certificates and -java replacement (WTF suite, from MirBSD)
 This WTF suite package uses the static MirBSD CA certificate bundle
 to replace both the Debian ca-certificates and ca-certificates-java
 packages public keystores for OpenSSL, GnuTLS, Java™/JKS, Classpath/GCJ,
 as well as Mozilla ckbi source builds. It will also replace KDE and
 J2RE/J2SDK keystore files. This package installs hashed symlinks usable
 with both OpenSSL 1.0.0 and OpenSSL 0.x / GnuTLS into /etc/ssl/certs.
 It also provides an NSS ckbi certdata.txt source file.
 .
 Note that the ksslcalist format used by KDE 3 and KDE 4 is FUBAR BAD,
 as it uses the DN of a certificate as index/primary key into the cert
 database, not taking into account that different certs may have the
 DN, for instance when a CA has both RSA and DSA keys… therefore, many
 HTTPS sites *will* probably fail Konqueror’s validation.
 .
  Homepage: http://mirbsd.de/
