Source: ca-bundle
Section: misc
Priority: optional
Maintainer: Thorsten Glaser <tg@mirbsd.de>
Homepage: http://mirbsd.de/
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.8.2
DM-Upload-Allowed: yes

Package: ca-bundle
Architecture: all
Conflicts: ca-certificates, ca-certificates-java
Replaces: ca-certificates, ca-certificates-java,
 cacao-oj6-jre-headless, ia32-sun-java5-bin, ia32-sun-java6-bin, j2re1.4,
 java-gcj-compat-headless, kdelibs-data, kdelibs-data-kde3, kdelibs5-data,
 libapache-mod-ssl, libgcj10, openjdk-6-jre-headless, sun-java5-bin,
 sun-java6-bin, sympa
Provides: ca-certificates, ca-certificates-java
Enhances: curl, gnutls-bin, libgnutls13, libgnutls26, libssl0.9.8,
 lynx-cur, openssl,
 cacao-oj6-jre-headless, ia32-sun-java5-bin, ia32-sun-java6-bin, j2re1.4,
 java-gcj-compat-headless, kdelibs-data, kdelibs-data-kde3, kdelibs5-data,
 libapache-mod-ssl, libgcj10, openjdk-6-jre-headless, sun-java5-bin,
 sun-java6-bin, sympa
Description: ca-certificates and -java replacement (WTF suite, from MirBSD)
 This WTF suite package uses the static MirBSD CA certificate bundle
 to replace both the Debian ca-certificates and ca-certificates-java
 packages public keystores for OpenSSL, GnuTLS, Java™/JKS, as well as
 Mozilla ckbi source builds. It will also replace KDE and J2RE/J2SDK
 keystore files.
