#!/usr/bin/make -f
# $MirOS: contrib/hosted/tg/deb/ca-bundle/debian/rules,v 1.11 2014/03/29 23:18:52 tg Exp $

build-arch:
build build-indep: generated/.build_stamp

generated/.build_stamp:
	dh_testdir
	-rm -rf generated
	mkdir generated generated/pem
	cd generated/pem && \
	    sh -e ../../bsd/ssl.certs.shar && \
	    cat * >../ca-certificates.crt
	for f in generated/pem/*; do \
		printf '[%s]\ncode=true\nemail=true\nsite=true\nx509=' \
		    "$$(openssl x509 -noout -subject -in $$f | \
		    sed 's/^subject= //')"; \
		fgrep -v -- ----- $$f | tr -d '\n'; echo; echo; \
	done >generated/ksslcalist
	@:>$@

clean:
	dh_testdir
	-rm -rf generated
	dh_clean

binary-indep: build-indep
	dh_testdir
	dh_testroot
	if test -x "$$(which dh_prep)"; then dh_prep; else dh_clean -k; fi
	dh_installchangelogs
	dh_installdocs
	dh_install
	mkdir -p debian/ca-bundle/usr/share/lintian/overrides
	install -c -o 0 -g 0 -m 644 debian/ca-bundle.lintian \
	    debian/ca-bundle/usr/share/lintian/overrides/ca-bundle
	dh_installman
	cd debian/ca-bundle/usr/share/ca-bundle/certs && \
	    exec sh -e ../../../../../../bsd/ssl.links.shar
	dh_link
	dh_compress -X.gcj -X.jks -X.crt -Xksslcalist -Xcerts
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	# even XB-Multi-Arch in sarge is refused by precise (prolonged pain)
	printf '/^Architecture: all/a\n%s\n.\nw\nq\n' 'Multi-Arch: foreign' | \
	    ed -s debian/ca-bundle/DEBIAN/control
	# do it this way to not rely on trigger-capable debhelper
	echo interest /usr/share/doc/libgcj-common \
	    >debian/ca-bundle/DEBIAN/triggers
	dh_md5sums
	dh_builddeb

binary-arch: build-arch

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
