#!/usr/bin/make -f
# $MirOS: contrib/hosted/tg/deb/ca-bundle/debian/rules,v 1.2 2009/11/23 14:21:30 tg Exp $
#-
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

build: generated/.build_stamp

generated/.build_stamp:
	dh_testdir
	-rm -rf generated
	mkdir generated generated/pem
	cd generated/pem && \
	    sh ../../bsd/ssl.certs.shar && \
	    cat * >../ca-certificates.crt
	for f in generated/pem/*; do \
		printf '[%s]\ncode=true\nemail=true\nsite=true\nx509=' \
		    "$$(openssl x509 -noout -subject -in $$f | \
		    sed 's/^subject= //')"; \
		fgrep -v -- ----- $$f | tr -d '\n'; echo; echo; \
	done >generated/ksslcalist
	touch $@

clean:
	dh_testdir
	-rm -rf generated
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
#	dh_strip
	dh_compress -X.jks -X.crt -Xksslcalist -Xcerts
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install check
