#!/usr/bin/make -f
# $MirOS: contrib/hosted/tg/deb/ca-bundle/debian/rules,v 1.5 2011/08/30 14:06:34 tg Exp $

build-arch:
build build-indep: generated/.build_stamp

generated/.build_stamp:
	dh_testdir
	test -s debian/ca-bundle.links
	-rm -rf generated
	mkdir generated generated/pem
	cd generated/pem && \
	    sh ../../bsd/ssl.certs.shar && \
	    cat * >../ca-certificates.crt
	for f in generated/pem/*; do \
		printf '[%s]\ncode=true\nemail=true\nsite=true\nx509=' \
		    "$$(openssl x509 -noout -subject -in $$f | \
		    sed 's/^subject= //')"; \
		fgrep -v -- ----- $$f | tr -d '\n'; echo; echo; \
	done >generated/ksslcalist
	touch $@

clean:
	dh_testdir
	-rm -rf generated
	dh_clean

binary-indep: build-indep
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installman
	dh_link
	dh_compress -X.jks -X.crt -Xksslcalist -Xcerts
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build-arch

binary: binary-indep binary-arch
.PHONY:	binary binary-arch binary-indep build build-arch build-indep check clean
