#!/usr/bin/make -f
# $MirOS: contrib/hosted/tg/deb/arngc/debian/rules,v 1.5 2014/07/04 21:40:39 tg Exp $

shellescape='$(subst ','\'',$(1))'
shellexport=$(1)=$(call shellescape,${$(1)})

DEB_BUILD_ARCH=$(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_HOST_ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_GNU_TYPE=$(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

# is ${CC} defined anywhere (other than implicit rules?)
ifneq (,$(findstring $(origin CC),default undefined))
# no - then default to gcc (or cross-gcc)
ifneq (${DEB_BUILD_ARCH},${DEB_HOST_ARCH})
CC=			${DEB_HOST_GNU_TYPE}-gcc
else
CC=			gcc
endif
endif

EXTRA_CFLAGS=		-Wall -Wextra -Wformat
EXTRA_CPPFLAGS=
EXTRA_LDFLAGS=		-Wl,--as-needed

ifneq (,$(wildcard /usr/share/dpkg/buildflags.mk))
# dpkg-dev (>= 1.16.1~)
DEB_CFLAGS_MAINT_APPEND=${EXTRA_CFLAGS}
DEB_CPPFLAGS_MAINT_APPEND=${EXTRA_CPPFLAGS}
DEB_LDFLAGS_MAINT_APPEND=${EXTRA_LDFLAGS}
DEB_BUILD_MAINT_OPTIONS=hardening=+all
include /usr/share/dpkg/buildflags.mk
else
# old-fashioned way to determine build flags
CFLAGS=			-O$(if $(findstring noopt,${DEB_BUILD_OPTIONS}),0,2) -g
CFLAGS+=		${EXTRA_CFLAGS}
CPPFLAGS+=		${EXTRA_CPPFLAGS}
LDFLAGS+=		${EXTRA_LDFLAGS}
endif

build-arch: debian/arngc-slrd
build-indep:
build: build-arch build-indep

clean:
	dh_testdir
	-rm -f debian/arngc-slrd*
	dh_clean

debian/arngc-slrd: arngc-slrd.c
	dh_testdir
	-rm -f debian/arngc-slrd*
	# lintian warnings about missing hardening functions are false
	${CC} ${CPPFLAGS} ${CFLAGS} ${LDFLAGS} -o $@~ arngc-slrd.c
	test -x $@~
	mv -f $@~ $@

binary-arch:
	dh_testdir
	dh_testroot
	if test -x "$$(which dh_prep)"; then dh_prep; else dh_clean -k; fi
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	# Multi-Arch in a sarge compatible way
	printf '/^Architecture: /a\n%s\n.\nw\nq\n' 'Multi-Arch: foreign' | \
	    ed -s debian/arngc/DEBIAN/control
	dh_md5sums
	dh_builddeb -- -Zgzip -z9

binary-indep:

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
