#!/usr/bin/make -f
# $MirOS$

build build-arch build-indep:
install:

clean:
	dh_testdir
	dh_clean

binary-indep:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep build build-arch build-indep clean install
