#!/usr/bin/make -f
# $MirOS: contrib/hosted/tg/deb/arngc/debian/rules,v 1.2 2011/11/12 00:11:21 tg Exp $

build build-arch build-indep:

clean:
	dh_testdir
	dh_clean

binary-indep:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	# Multi-Arch in a sarge compatible way
	printf '/^Architecture: all/a\n%s\n.\nw\nq\n' 'Multi-Arch: foreign' | \
	    ed -s debian/arngc/DEBIAN/control
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
