#!/usr/bin/make -f
# $MirOS: contrib/hosted/tg/deb/mirsirc/debian/rules,v 1.5 2012/06/24 14:13:42 tg Exp $

build build-arch:

build-indep: debian/dsircp

debian/dsircp: dsircp
	v=$$(dpkg-parsechangelog | while read x y; do \
		test x"$$x" = x"Version:" || continue; \
		echo "$$y"; \
		break; \
	done) && test -n "$$v" && sed \
	    -e 'sMirPorts-@DIST_DATE@MirDebian-'"$$v"'' \
	    -e 's@PREFIX@/usr' <dsircp >debian/dsircp~
	mv debian/dsircp~ debian/dsircp

clean:
	# goodbye dh_testdir
	test -f dsircp
	test -x debian/rules
	-rm -rf debian/B debian/mirsirc debian/dsircp*
	# goodbye dh_clean
	-rm -f debian/files debian/substvars

binary-arch: build-arch

binary-indep: build-indep
	# goodbye dh_testdir
	test -f dsircp
	test -x debian/rules
	# goodbye dh_prep
	-rm -f debian/files debian/substvars
	# goodbye dh_installdirs
	-rm -rf debian/mirsirc
	mkdir -p debian/mirsirc/usr/bin debian/mirsirc/usr/share/doc/mirsirc \
	    debian/mirsirc/usr/share/man/man1 debian/mirsirc/usr/share/menu \
	    debian/mirsirc/usr/share/sirc
	# goodbye dh_installchangelogs
	cp -a debian/changelog \
	    debian/mirsirc/usr/share/doc/mirsirc/changelog.Debian
	gzip -n9 debian/mirsirc/usr/share/doc/mirsirc/changelog.Debian
	# goodbye dh_installdocs
	cp -a debian/copyright debian/mirsirc/usr/share/doc/mirsirc/copyright
	cp -a PROGRAMMING README README.socks \
	    debian/mirsirc/usr/share/doc/mirsirc/
	cd debian/mirsirc/usr/share/doc/mirsirc && \
	    for i in PROGRAMMING README README.socks; do \
		gzip -n9 $$i; \
	done
	# goodbye dh_install
	cp debian/dsircp sirc debian/mirsirc/usr/bin/
	cp n0thing.pl sirc.help socks.pl debian/mirsirc/usr/share/sirc/
	# goodbye dh_installmenu
	cp -a debian/menu debian/mirsirc/usr/share/menu/mirsirc
	# goodbye dh_installman
	cp -a sirc.1 debian/mirsirc/usr/share/man/man1/
	gzip -n9 debian/mirsirc/usr/share/man/man1/sirc.1
	ln -s sirc.1.gz debian/mirsirc/usr/share/man/man1/dsircp.1.gz
	# goodbye dh_fixperms
	chmod 644 $$(find debian/mirsirc -type f)
	chmod 755 $$(find debian/mirsirc -type d) \
	    debian/mirsirc/usr/bin/dsircp debian/mirsirc/usr/bin/sirc
	# goodbye dh_installdeb
	-rm -rf debian/B
	mkdir -p debian/mirsirc/DEBIAN debian/B/c
	cd debian && cp -a postinst postrm prerm B/c/
	# goodbye dh_gencontrol
	dpkg-gencontrol -pmirsirc -Pdebian/mirsirc -isp
	mv debian/mirsirc/DEBIAN/control debian/B/c/
	rm -rf debian/mirsirc/DEBIAN
	# backwards-compatible way to set Multi-Arch
	printf '/^Architecture: /a\n%s\n.\nw\nq\n' 'Multi-Arch: foreign' | \
	    ed -s debian/B/c/control
	# goodbye dh_md5sums
	(cd debian/mirsirc && find . -type f | sed s,^./,, | sort | \
	    xargs md5sum) >debian/B/c/md5sums
	# goodbye dh_builddeb
	(cd debian/mirsirc && find . | sort | paxcpio \
	    -oC512 -Hustar -Minodes -Mlinks -Muidgid -Mgslash) | \
	    gzip -n9 >debian/B/data.tar.gz
	cd debian/B/c && chmod 644 * && chmod 755 postinst postrm prerm
	(cd debian/B/c && find . | sort | paxcpio \
	    -oC512 -Hustar -Minodes -Mlinks -Muidgid -Mgslash) | \
	    gzip -n9 >debian/B/control.tar.gz
	echo 2.0 >debian/B/debian-binary
	read fn rest <debian/files && cd debian/B && \
	    paxtar -A -M dist -cf "../../../$$fn" \
	    debian-binary control.tar.gz data.tar.gz

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
