#!/usr/bin/make -f
# $MirOS: contrib/hosted/tg/deb/mircpio/debian/rules,v 1.20 2012/06/07 00:27:08 tg Exp $

DEB_BUILD_ARCH=$(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_HOST_ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_GNU_TYPE=$(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

# is ${CC} defined anywhere (other than implicit rules?)
ifneq (,$(findstring $(origin CC),default undefined))
# no - then default to gcc (or cross-gcc)
ifneq (${DEB_BUILD_ARCH},${DEB_HOST_ARCH})
CC=			${DEB_HOST_GNU_TYPE}-gcc
else
CC=			gcc
endif
endif

EXTRA_CFLAGS=		-Wall -Wno-pointer-sign -Wno-unused-result
EXTRA_CPPFLAGS=		-DUSE_LIBBSD
EXTRA_LDFLAGS=		-Wl,--as-needed

ifneq (,$(wildcard /usr/share/dpkg/buildflags.mk))
# dpkg-dev (>= 1.16.1~)
DEB_CFLAGS_MAINT_APPEND=${EXTRA_CFLAGS}
DEB_CPPFLAGS_MAINT_APPEND=${EXTRA_CPPFLAGS}
DEB_LDFLAGS_MAINT_APPEND=${EXTRA_LDFLAGS}
DEB_BUILD_MAINT_OPTIONS=hardening=+all
include /usr/share/dpkg/buildflags.mk
else
# old-fashioned way to determine build flags
CFLAGS=			-O$(if $(findstring noopt,${DEB_BUILD_OPTIONS}),0,2) -g
CFLAGS+=		${EXTRA_CFLAGS}
CPPFLAGS+=		${EXTRA_CPPFLAGS}
LDFLAGS+=		${EXTRA_LDFLAGS}
endif

build build-arch: debian/.build_stamp
build-indep:

debian/.build_stamp:
	# goodbye dh_testdir
	test -f ssfe.c
	test -x debian/rules
	rm -f ssfe
	l=-lncurses; for t in /usr/lib/libtinfo.a /usr/lib/*/libtinfo.a; do \
		test -s "$$t" || continue; \
		l=-ltinfo; \
		break; \
	done; ${CC} ${CPPFLAGS} ${CFLAGS} ${LDFLAGS} -o ssfe ssfe.c -lbsd $$l
	test -x ssfe
	@:>$@

clean:
	# goodbye dh_testdir
	test -f ssfe.c
	test -x debian/rules
	-rm -f ssfe
	-rm -rf debian/.*_stamp debian/B debian/ssfe
	# goodbye dh_clean
	-rm -f debian/files debian/substvars

binary-indep: build-indep

binary-arch: build-arch
	# goodbye dh_testdir
	test -f ssfe.c
	test -x debian/rules
	# goodbye dh_prep
	-rm -f debian/files debian/substvars
	# goodbye dh_installdirs
	-rm -rf debian/ssfe
	mkdir -p debian/ssfe/usr/bin debian/ssfe/usr/share/doc/ssfe \
	    debian/ssfe/usr/share/man/man1
	# goodbye dh_installchangelogs
	cp -a debian/changelog debian/ssfe/usr/share/doc/ssfe/changelog.Debian
	gzip -n9 debian/ssfe/usr/share/doc/ssfe/changelog.Debian
	# goodbye dh_installdocs
	cp -a debian/copyright debian/ssfe/usr/share/doc/ssfe/copyright
	# goodbye dh_install
	cp ssfe debian/ssfe/usr/bin/
	# goodbye dh_installman
	cp -a ssfe.1 debian/ssfe/usr/share/man/man1/
	gzip -n9 debian/ssfe/usr/share/man/man1/ssfe.1
	# goodbye dh_strip
ifeq (,$(findstring nostrip,${DEB_BUILD_OPTIONS}))
	strip -s -R .note -R .comment debian/ssfe/usr/bin/ssfe
endif
	# goodbye dh_fixperms
	chmod 644 $$(find debian/ssfe -type f)
	chmod 755 $$(find debian/ssfe -type d) \
	    debian/ssfe/usr/bin/ssfe
	# goodbye dh_installdeb
	-rm -rf debian/B
	mkdir -p debian/ssfe/DEBIAN debian/B/c
	# goodbye dh_shlibdeps
	dpkg-shlibdeps -edebian/ssfe/usr/bin/ssfe
	# goodbye dh_gencontrol
	dpkg-gencontrol -pssfe -Pdebian/ssfe -isp
	mv debian/ssfe/DEBIAN/control debian/B/c/
	rm -rf debian/ssfe/DEBIAN
	# goodbye dh_md5sums
	(cd debian/ssfe && find . -type f | sed s,^./,, | sort | \
	    xargs md5sum) >debian/B/c/md5sums
	# goodbye dh_builddeb
	(cd debian/ssfe && find . | sort | paxcpio \
	    -oC512 -Hustar -Minodes -Mlinks -Muidgid -Mgslash) | \
	    gzip -n9 >debian/B/data.tar.gz
	cd debian/B/c && chmod 644 *
	(cd debian/B/c && find . | sort | paxcpio \
	    -oC512 -Hustar -Minodes -Mlinks -Muidgid -Mgslash) | \
	    gzip -n9 >debian/B/control.tar.gz
	echo 2.0 >debian/B/debian-binary
	read fn rest <debian/files && cd debian/B && \
	    paxtar -A -M dist -cf "../../../$$fn" \
	    debian-binary control.tar.gz data.tar.gz

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
