# $MirOS: www/files/.htaccess,v 1.16 2013/11/27 22:15:52 tg Exp $

Options ExecCGI Indexes FollowSymLinks
IndexOptions -FancyIndexing
AddHandler cgi-script .cgi
DirectoryIndex main.htm

# redirections for HTML documentation
RedirectMatch 301 ^/cman(/*)$ /htman/i386/
RedirectMatch 301 ^/cman/man([1-9]|3p|DOCS|INFO|PAPERS|PSD|SMM|USD)(/*)$ /htman/i386/man$1/
RedirectMatch 301 ^/cman/(.*\.html*$) /htman/i386/$1
RedirectMatch 301 ^/cman/(.*$) /htman/i386/$1.htm
RedirectMatch 301 ^/man(/*)$ /htman/i386/
RedirectMatch 301 ^/man(i386|sparc)(/*)$ /htman/$1/
RedirectMatch 301 ^/man(i386|sparc)/man([1-9]|3p|DOCS|INFO|PAPERS|PSD|SMM|USD)(/*)$ /htman/$1/man$2/
RedirectMatch 301 ^/man(i386|sparc)/(.*)\.([1-9]|3p|DOCS|PAPERS|PSD|SMM|USD)$ /htman/$1/man$3/$2.htm
RedirectMatch 301 ^/man(i386|sparc)/(.*)\.(INFO|info)$ /htman/$1/manINFO/$2.html
RedirectMatch 301 ^/man(i386|sparc)/man(.*\.htm$) /htman/$1/man$2
RedirectMatch 301 ^/man(i386|sparc)/man(.*$) /htman/$1/man$2.htm
RedirectMatch 301 ^/man(i386|sparc)/(.*\.htm$) /htman/$1/man$2
RedirectMatch 301 ^/man(i386|sparc)/(.*$) /htman/$1/man$2.htm
RedirectMatch 301 ^/man([1-9]|3p|DOCS|INFO|PAPERS|PSD|SMM|USD)(/*)$ /htman/i386/man$1/
RedirectMatch 301 ^/man([1-9]|3p|DOCS|INFO|PAPERS|PSD|SMM|USD)/(.*\.html*$) /htman/i386/man$1/$2
RedirectMatch 301 ^/man([1-9]|3p|PAPERS|PSD|SMM|USD)/(.*$) /htman/i386/man$1/$2.htm
RedirectMatch 301 ^/man(info|INFO)/(.*$) /htman/i386/manINFO/$2.html
RedirectMatch 301 ^/man(docs|DOCS)/(.*$) /htman/i386/manDOCS/$2
RedirectMatch 301 ^/man/(.*)\.([1-9]|3p|DOCS|PAPERS|PSD|SMM|USD)$ /htman/i386/man$2/$1.htm
RedirectMatch 301 ^/man/(.*)\.(INFO|info)$ /htman/i386/manINFO/$1.html

# redirects for legacy links (mod_alias cannot inspect query strings)
RewriteEngine On
RewriteCond %{QUERY_STRING} ^([^/]+)$
RewriteRule ^(index.php)?$ /%1.htm? [R=301,L]

RedirectMatch 301 ^/htman/(i386|sparc)/man1/cc.htm$ /htman/$1/man1/mgcc.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man1/cpp.htm$ /htman/$1/man1/mcpp.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man1/eqn.htm$ /htman/$1/man1/neqn.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man1/gcc.htm$ /htman/$1/man1/mgcc.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man1/ksh.htm$ /htman/$1/man1/mksh.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man1/mmake.htm$ /htman/$1/man1/make.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man1/nawk.htm$ /htman/$1/man1/awk.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man1/troff.htm$ /htman/$1/man1/nroff.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/arc4random_add.htm$ /htman/$1/man3/arc4random.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/mjd2tai.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/mjd2tm.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/tai2mjd.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/tai2timet.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/tai2utc.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/tai_leaps.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/tai_time.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/taina_time.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/taitime.htm$ /htman/$1/man3/mirtime.htm
RedirectMatch 301 ^/htman/(i386|sparc)/man3/tm2mjd.htm$ /htman/$1/man3/mirtime.htm

# redirects for broken links from external
RedirectMatch 301 ^/jupp$ /jupp.htm
RedirectMatch 301 ^/mksh$ /mksh.htm
RedirectMatch 301 ^/ports$ /ports.htm
# and crawlers that pretend HTTP were case-insensitive, which it is not
RedirectMatch 301 ^/fnt(/+(.*))?$ /FNT/$2
RedirectMatch 301 ^/isc-licence$ /ISC-Licence
RedirectMatch 301 ^/licence$ /LICENCE
RedirectMatch 301 ^/miros(/+(.*))?$ /MirOS/$2
RedirectMatch 301 ^/miros-licence$ /MirOS-Licence
RedirectMatch 301 ^/miros-licence.htm$ /MirOS-Licence.htm
RedirectMatch 301 ^/pkgs(/+(.*))?$ /Pkgs/$2
RedirectMatch 301 ^/tac-makefs.txt$ /TaC-makefs.txt
RedirectMatch 301 ^/tac-mksh.txt$ /TaC-mksh.txt

# file types
AddType 'text/html; charset=utf-8' htm
AddType 'text/html' html
AddType 'application/octet-stream' bz2 dsc fs rd ISO iso gz cgz ngz tgz Z
AddType 'text/plain; charset=cp437' asc
AddType 'text/plain; charset=utf-8' txt
AddType 'application/x-x509-ca-cert' cer
AddType 'application/metalink+xml' metalink
AddType 'application/rss+xml; charset=utf-8' rss

# serve XHTML stuff as text/html by default, but upgrade
# to application/xml+xhtml if the client requests it
RewriteEngine On
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteCond %{HTTP_ACCEPT} !application/xhtml\+xml\s*;\s*q=0
RewriteCond %{THE_REQUEST} HTTP/1\.1
RewriteRule \.htm$ - [T=application/xhtml+xml]

# forced text files
<Files LICENCE>
  ForceType 'text/plain; charset=utf-8'
</Files>

<Files ISC-Licence>
  ForceType 'text/plain; charset=utf-8'
</Files>

<Files MirOS-Licence>
  ForceType 'text/plain; charset=utf-8'
</Files>

<Files MirOS-Licence.asc>
  ForceType 'text/plain; charset=ISO_646.irv:1991'
</Files>

<Files UP>
  ForceType 'text/plain; charset=utf-8'
</Files>

<Files acronyms>
  ForceType 'text/plain; charset=utf-8'
</Files>

# "hidden" files
<Files cvsweb.conf>
  Order deny,allow
  Deny from all
</Files>
