# $MirOS: www/files/.htaccess,v 1.1 2007/06/09 23:29:49 tg Exp $

Options ExecCGI Indexes SymLinksIfOwnerMatch
IndexOptions -FancyIndexing
AddHandler cgi-script .cgi

# redirections for HTML documentation
RedirectMatch 301 ^/cman/(.*\.htm$) /htman/i386/$1
RedirectMatch 301 ^/cman/(.*$) /htman/i386/$1.htm
RedirectMatch 301 ^/man/(.*)\.([0-9]|INFO|PAPERS|PSD|SMM|USD)$ /htman/i386/man$2/$1.htm
RedirectMatch 301 ^/man(i386|sparc)/(.*)\.([0-9]|INFO|PAPERS|PSD|SMM|USD)$ /htman/$1/man$3/$2.htm
RedirectMatch 301 ^/man(i386|sparc)/man(.*\.htm$) /htman/$1/man$2
RedirectMatch 301 ^/man(i386|sparc)/man(.*$) /htman/$1/man$2.htm
RedirectMatch 301 ^/man(i386|sparc)/(.*\.htm$) /htman/$1/man$2
RedirectMatch 301 ^/man(i386|sparc)/(.*$) /htman/$1/man$2.htm
RedirectMatch 301 ^/man([0-9]|INFO|PAPERS|PSD|SMM|USD)/(.*\.htm$) /htman/i386/man$1/$2
RedirectMatch 301 ^/man([0-9]|INFO|PAPERS|PSD|SMM|USD)/(.*$) /htman/i386/man$1/$2.htm

# file types
AddType 'text/html; charset=utf-8' htm
AddType 'text/html' html
AddType 'application/octet-stream' bz2 dsc fs rd ISO iso gz cgz ngz tgz Z
AddType 'text/plain; charset=cp437' asc
AddType 'text/plain; charset=utf-8' txt
AddType 'application/x-x509-ca-cert' cer

# forced text files
<Files LICENCE>
  ForceType text/plain
</Files>

<Files ISC-Licence>
  ForceType text/plain
</Files>

<Files MirOS-Licence>
  ForceType text/plain
</Files>

# "hidden" files
<Files cvsweb.conf>
  Order deny,allow
  Deny from all
</Files>
