/* $MirOS: www/files/vstyle.css,v 1.27 2010/06/15 20:43:05 tg Exp $ */

/*-
 * The MirOS Project - Webpages
 * Copyrighted material; read LICENCE for terms of use.
 */


/*
 * Fonts (let’s just hope the URI is relative to the CSS file…)
 */

@font-face {
	font-family:"Gentium";
	font-style:normal;
	font-weight:normal;
	src:url(FNT/GenR102.eot);
	src:local("Gentium Regular"),
	    local("Gentium"),
	    local("Gentium Basic Regular"),
	    local("Gentium Basic"),
	    local("Gentium Book Basic Regular"),
	    local("Gentium Book Basic"),
	    url(FNT/GenR102.ttf) format("truetype");
}

@font-face {
	font-family:"Gentium";
	font-style:italic;
	font-weight:normal;
	src:url(FNT/GenI102.eot);
	src:local("Gentium Italic"),
	    local("Gentium"),
	    local("Gentium Basic Italic"),
	    local("Gentium Basic"),
	    local("Gentium Book Basic Italic"),
	    local("Gentium Book Basic"),
	    url(FNT/GenI102.ttf) format("truetype");
}

@font-face {
	font-family:"Gentium Basic";
	font-style:normal;
	font-weight:bold;
	src:url(FNT/GenBasB.eot);
	src:local("Gentium Bold"),
	    local("Gentium"),
	    local("Gentium Basic Bold"),
	    local("Gentium Basic"),
	    local("Gentium Book Basic Bold"),
	    local("Gentium Book Basic"),
	    url(FNT/GenBasB.ttf) format("truetype");
}

@font-face {
	font-family:"Gentium Basic";
	font-style:italic;
	font-weight:bold;
	src:url(FNT/GenBasBI.eot);
	src:local("Gentium Bold Italic"),
	    local("Gentium"),
	    local("Gentium Basic Bold Italic"),
	    local("Gentium Basic"),
	    local("Gentium Book Basic Bold Italic"),
	    local("Gentium Book Basic"),
	    url(FNT/GenBasBI.ttf) format("truetype");
}


/*
 * Styles
 */

body {
	max-width:100%;
	min-width:42em;
	background-color:#DDDDDD;
	padding:0px;
}

body,p,.content {
	color:#333333;
	font-family:"Gentium", Helvetica, sans-serif;
	line-height:130%;
}

b,strong {
	font-family:"Gentium Basic", "Gentium", Helvetica, sans-serif;
	font-weight:bold;
}

a {
	color:#990000;
	text-decoration:none;
	border-bottom:1px solid #990000;
}

a:hover {
	color:#000000;
}

a:visited {
	border-bottom:1px dashed #990000;
}

.footer {
	clear:both;
	padding:2px 2px 0px 2px;
	margin:14px 0px 0px 0px;
	font-size:10pt;
	border-top:2px solid #333333;
}

.heading {
	position:absolute;
		top:0px; left:0px;
		right:0px; height:125px;
	width:100%;
	padding:0px;
	font-size:12px;
	background:#242424;
	border-bottom:5px solid #FFB92A;
}

.note {
	font-size:9pt;
	color:#333333;
}

img {
	border:none;
}

.index {
	float:left;
	margin:112px 0px 0px 0px;
	padding:0px;
	width:184px;
}

.content {
	margin:135px 0px 0px 170px;
	padding:2px 2px 2px 12px;
	border-left:5px solid #FFFFFF;
}

.hdrlnks {
	position:absolute;
		top:0px; left:27px;
	z-index:1;
}


h1 {
	position:absolute;
		top:30px; left:200px;
	line-height:1.2em;
	color:#FFFFFF;
	z-index:2;
}

ul.lv1 {
	position:relative; left:-20px; width:95%;
	list-style:disc;
}

ul.lv2 {
	position:relative; left:-20px; width:90%;
	list-style:square;
}

.spacer {
	margin-bottom:1em;
}

.greyed {
	color:#666666;
}

.rcsdiv {
	white-space:normal;
}

.rcsid {
	white-space:nowrap;
}

.admin {
	display:none;
}

div.wlentry {
	padding-top:9px;
	margin:0px;
}

div.wltitle {
	padding-bottom:3px;
	border-bottom:2px solid #666;
}

h2.wlentry {
	font-weight:normal;
	font-size:150%;
	display:inline;
}

h2 a {
	text-decoration:none;
	font-style:italic;
	border-bottom:none !important;
}

h5 {
	text-decoration:underline;
}

.wlsubtitle {
	font-weight:bold;
	color:#777777;
	display:inline;
	white-space:nowrap;
}

.wlsubtitle:before {
	content:" ";
}

.wltagtitle {
	font-weight:normal;
	font-size:80%;
}

.wltagtitle:before {
	content:" ";
}

.linkbot {
	padding-top:18px;
	border-top:2px solid #666;
	margin:0px;
}

table {
	border-collapse:collapse;
}

th {
	border-top:2px solid #FFFFFF;
	border-bottom:2px solid #FFFFFF;
}

td {
	border-bottom:2px solid #FFFFFF;
}

tt {
	white-space:nowrap;
}

.boxhead {
	margin-bottom:0px;
}

.boxtext {
	border:4px ridge blue;
	margin:0px 24px 0px 24px;
	padding:2px 12px 2px 12px;
}

.boxfoot {
	margin-top:0px;
}

.revbox {
	background:#242424;
	color:#FFFFFF;
	padding:7px;
}

.fr {
	float:right;
	margin-left:1em;
	margin-bottom:3px;
}

.cr {
	clear:right;
}

.b {
	font-family:"Gentium Basic", "Gentium", Helvetica, sans-serif;
	font-weight:bold;
}

.i {
	font-style:italic;
}

.s {
	text-decoration:line-through;
}

.u {
	text-decoration:underline;
}
