/* $MirOS: www/files/vstyle.css,v 1.12 2008/12/09 13:18:23 tg Exp $ */

/*-
 * The MirOS Project - Webpages
 * Copyrighted material; read LICENCE for terms of use.
 */


/*
 * Fonts: MSIE EOT first, CSS3 second
 */

@font-face {
        font-family: Gentium;
        font-style: normal;
        font-weight: normal;
        src: url(/FNT/GenR102.eot);
}

@font-face {
        font-family: Gentium;
        font-style: italic;
        font-weight: normal;
        src: url(/FNT/GenI102.eot);
}

@font-face {
        font-family: Gentium;
        font-style: normal;
        font-weight: bold;
        src: url(/FNT/GenBasB.eot);
}

@font-face {
        font-family: Gentium;
        font-style: italic;
        font-weight: bold;
        src: url(/FNT/GenBasBI.eot);
}


@font-face {
        font-family: Gentium;
        font-style: normal;
        font-weight: normal;
        src: local(Gentium),
            url(/FNT/GenR102.ttf) format("truetype"),
            url(/FNT/GenR102.eot) format("embedded-opentype");
}

@font-face {
        font-family: Gentium;
        font-style: italic;
        font-weight: normal;
        src: local(Gentium),
            url(/FNT/GenI102.ttf) format("truetype"),
            url(/FNT/GenI102.eot) format("embedded-opentype");
}

@font-face {
        font-family: Gentium;
        font-style: normal;
        font-weight: bold;
        src: local(Gentium Basic),
            url(/FNT/GenBasB.ttf) format("truetype"),
            url(/FNT/GenBasB.eot) format("embedded-opentype");
}

@font-face {
        font-family: Gentium;
        font-style: italic;
        font-weight: bold;
        src: local(Gentium Basic),
            url(/FNT/GenBasBI.ttf) format("truetype"),
            url(/FNT/GenBasBI.eot) format("embedded-opentype");
}


/*
 * Styles
 */

body {
	max-width:100%;
	background-color:#DDDDDD;
	padding:2px;
}

body,p,.content {
	color:#333333;
	font-family: Helvetica, sans-serif;
	line-height: 130%;
}

a {
	color: #990000;
	text-decoration: none;
	border-bottom: 1px solid #990000;
}

a:hover {
	color: #000000;
}

a:visited {
	border-bottom: 1px dashed #990000;
}

.footer {
	position:absolute;
		left: 0px; right:0px;
	padding:7px;
	margin-top:18px;
	font-size:10pt;
	border-top:2px solid #333333;
}

.heading {
	position:absolute;
		top:0px; left:0px;
		right:0px; height:125px;
	width: 100%;
	padding:0px;
	font-size:12px;
	background: #242424;
	border-bottom: 5px solid #FFB92A;
}

.note {
	font-size:9pt;
	color:#333333;
}

img {
	border: none;
}

.index {
	position:absolute;
		top:127px; left:2px;
		width:184px;
}

.content {
	margin-top:135px; margin-left:170px;
	padding-left:16px;
	min-height:500px;
	border-left: 5px solid #FFFFFF;
}

.hdrlnks {
	position:absolute;
		top:0px; left:27px;
	z-index:1;
}


h1 {
	position:absolute;
		top:30px; left:200px;
	line-height: 1.2em;
	color: #FFFFFF;
	z-index:2;
}

h1 a {
	color: #FFFFFF;
	border: none;
}

h1 a:hover {
	color: #FFFFFF;
}

h1 a:visited {
	border: none;
}

ul.lv1 {
	position:relative; left:-20px; width:95%;
	list-style:disc;
}

ul.lv2 {
	position:relative; left:-20px; width:90%;
	list-style:square;
}

.spacer {
	margin-bottom: 1em;
}

.greyed {
	color:#666666;
}

.rcsdiv {
	white-space:normal;
}

.rcsid {
	white-space:nowrap;
}

.admin {
	display:none;
}

div.wlentry {
	padding-top: 9px;
	margin: 0px;
}

div.wltitle {
	padding-bottom: 3px;
	border-bottom: 2px solid #666;
}

h2.wlentry {
	font-weight: normal;
	font-size: 150%;
	display: inline;
}

h2 a {
	text-decoration: none;
	border-bottom: none !important;
}

.wlsubtitle {
	font-weight: bold;
	color: #777777;
	display: inline;
}

.wlsubtitle:before {
	content: " ";
}

.wltagtitle {
	font-weight: normal;
	font-size: 80%;
}

.wltagtitle:before {
	content: " ";
}

.linkbot {
	padding-top: 18px;
	border-top: 2px solid #666;
	margin: 0px;
}

table {
	border-collapse: collapse;
}

th {
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

td {
	border-bottom: 2px solid #FFFFFF;
}

tt {
	white-space:nowrap;
}
