# $MirOS$
# $OpenBSD: BSD.local.dist,v 1.12 2002/06/09 06:15:15 todd Exp $
# $FreeBSD: BSD.local.dist,v 1.32 1997/09/12 05:44:11 asami Exp $

/set type=dir uname=root gname=wheel mode=0755
.

# ./usr
usr

# ./usr/games
games

# ./usr/games
..

# ./usr/share
share

# ./usr/share/doc
doc

# ./usr/share/doc/usd
usd

# ./usr/share/doc/usd/30.rogue
30.rogue
# ./usr/share/doc/usd/30.rogue
..

# ./usr/share/doc/usd/31.trek
31.trek
# ./usr/share/doc/usd/31.trek
..

# ./usr/share/doc/usd
..

# ./usr/share/doc
..

# ./usr/share/games
games

# ./usr/share/games/atc
atc
# ./usr/share/games/atc
..

# ./usr/share/games/boggle
boggle
# ./usr/share/games/boggle
..

# ./usr/share/games/fortune
fortune
# ./usr/share/games/fortune
..

# ./usr/share/games/quiz.db
quiz.db
# ./usr/share/games/quiz.db
..

# ./usr/share/games
..

# ./usr/share
..

# ./usr
..

# ./var
var

# ./var/games
games            uname=root gname=games mode=0775

# ./var/games/hackdir
hackdir          uname=root gname=games mode=0775

# ./var/games/hackdir/save
save		 uname=root gname=games mode=0770
# ./var/games/hackdir/save
..

# ./var/games/hackdir
..

# ./var/games/hackdir/save		XXX
save		uname=root gname=games mode=0775
# ./var/games/hackdir/save		XXX
..

# ./var/games/phantasia
phantasia        uname=root gname=games mode=0775
# ./var/games/phantasia
..

# ./var/games
..

# ./var
..
