<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.mirbsd.squid</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/usr/mpkg/sbin/squid</string>
	<key>ProgramArguments</key>
	<array>
		<string>squid</string>
		<string>-N</string>
		<string>-D</string>
	</array>
	<key>ServiceDescription</key>
	<string>MirPorts - www/squid</string>
</dict>
</plist>
