# $MirOS: src/usr.bin/ssh/ssh_config,v 1.4 2005/04/14 20:07:45 tg Exp $
# $OpenBSD: ssh_config,v 1.21 2005/12/06 22:38:27 reyk Exp $

# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.

# Host *
#   ForwardAgent no
#   ForwardX11 no
#   RhostsRSAAuthentication no
#   RSAAuthentication yes
#   PasswordAuthentication yes
#   HostbasedAuthentication no
#   BatchMode no
#   CheckHostIP yes
#   AddressFamily any
#   ConnectTimeout 0
#   StrictHostKeyChecking ask
#   IdentityFile ~/.etc/ssh/identity
#   IdentityFile ~/.etc/ssh/id_rsa
#   IdentityFile ~/.etc/ssh/id_dsa
#   Port 22
#   Protocol 2,1
#   ControlMaster no
#   ControlPath ...
#   EscapeChar ~
#   Tunnel no
#   TunnelDevice any:any
#   PermitLocalCommand no
#   Cipher blowfish
#   Ciphers arcfour,blowfish-cbc,aes256-cbc,aes128-cbc,cast128-cbc,rijndael-cbc@lysator.liu.se,3des-cbc,aes192-cbc,aes128-ctr,aes192-ctr,aes256-ctr
#   MACs hmac-ripemd160,hmac-ripemd160@openssh.com,hmac-sha1,hmac-md5,hmac-sha1-96,hmac-md5-96


# Use a dual config like this for session multiplexing
# in your ~/.etc/ssh/config file:

# Host target-m
#   Hostname target
#   User me
#   ControlMaster ask
#   ControlPath ~/.etc/ssh/.ctl.target
# Host target-s
#   Hostname target
#   User me
#   ControlMaster no
#   ControlPath ~/.etc/ssh/.ctl.target
