# $MirSecuCron$
# $MirOS: src/usr.bin/ssh/ssh_config,v 1.19 2009/10/02 16:58:50 tg Exp $
# $OpenBSD: ssh_config,v 1.25 2009/02/17 01:28:32 djm Exp $

# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some ssh_config(5) options.

Host *
#	AddressFamily any
#	BatchMode no
#	BindAddress ...
#	ChallengeResponseAuthentication yes
#	CheckHostIP yes
#	Cipher blowfish
#	Ciphers aes256-ctr,arcfour256,aes256-cbc,cast128-cbc,aes128-cbc,blowfish-cbc,rijndael-cbc@lysator.liu.se,aes128-ctr,arcfour128,arcfour,aes192-cbc,aes192-ctr,3des-cbc
#	ClearAllForwardings no
#	Compression no
#	CompressionLevel 6
#	ConnectionAttempts 1
#	ConnectTimeout 0
#	ControlMaster no
#	ControlPath none
#	DynamicForward ...
#	EnableSSHKeysign no
#	EscapeChar ~
#	ExitOnForwardFailure no
#	ForwardAgent no
#	ForwardX11 no
#	ForwardX11Trusted no
#	GatewayPorts no
#	GlobalKnownHostsFile /etc/ssh/ssh_known_hosts
#	HashKnownHosts no
#	HostKeyAlgorithms ssh-rsa,ssh-dss
#	HostKeyAlias ...
#	HostbasedAuthentication no
#	Hostname ...
#	IdentitiesOnly no
#	IdentityFile ~/.etc/ssh/id_dsa
#	IdentityFile ~/.etc/ssh/id_rsa
#	IdentityFile ~/.etc/ssh/identity
#	KbdInteractiveAuthentication yes
#	KbdInteractiveDevices ...
#	LocalCommand ...
#	LocalForward ...
#	LogLevel INFO
#	MACs umac-64@openssh.com,hmac-ripemd160,hmac-ripemd160@openssh.com,hmac-sha1,hmac-sha1-96,hmac-md5,hmac-md5-96
#	NoHostAuthenticationForLocalhost no
#	NumberOfPasswordPrompts 3
#	PasswordAuthentication yes
#	PermitLocalCommand no
#	Port 22
#	PreferredAuthentications hostbased,publickey,keyboard-interactive,password
#	Protocol 2,1
#	ProxyCommand none
#	PubkeyAuthentication yes
#	RekeyLimit ...
#	RemoteForward ...
#	RhostsRSAAuthentication no
#	RSAAuthentication yes
#	SendEnv ...
#	ServerAliveCountMax 3
	ServerAliveInterval 200
#	SmartcardDevice ...
#	StrictHostKeyChecking ask
#	TCPKeepAlive yes
#	Tunnel no
#	TunnelDevice any:any
#	UsePrivilegedPort no
#	User ...
#	UserKnownHostsFile ~/.etc/ssh/known_hosts
#	VerifyHostKeyDNS no
#	VisualHostKey no
#	XAuthLocation /usr/X11R6/bin/xauth


# Add this for session multiplexing (replace 1000 with
# your UID) at the bottom of the ~/.etc/ssh/config file:

# Host *
#	ControlPath /var/run/ssh-agent/1000/ctl.%r@%h:%p
