# $MirOS: www/.htaccess,v 1.2 2005/02/05 22:43:35 tg Exp $

# custom 404 document
ErrorDocument 404 /404.php

# "hidden" files
<Files cvsweb.conf>
  Order deny,allow
  Deny from all
</Files>

<Files wiki.cfg>
  Order deny,allow
  Deny from all
</Files>

<Files wiki.map>
  Order deny,allow
  Deny from all
</Files>

<Files wikipass.sh>
  Order deny,allow
  Deny from all
</Files>
