# $MirOS: www/.htaccess,v 1.5 2006/03/30 13:07:19 tg Exp $

# custom 404 document
ErrorDocument 404 /404.php


# forced text files
<Files LICENCE>
  ForceType text/plain
</Files>

<Files ISC-Licence>
  ForceType text/plain
</Files>

<Files MirOS-Licence>
  ForceType text/plain
</Files>

<Files gzsigkey.cer>
  ForceType application/x-x509-ca-cert
</Files>


# "hidden" files
<Files cvsweb.conf>
  Order deny,allow
  Deny from all
</Files>

<Files wiki.cfg>
  Order deny,allow
  Deny from all
</Files>

<Files wiki.map>
  Order deny,allow
  Deny from all
</Files>

<Files wikipass.sh>
  Order deny,allow
  Deny from all
</Files>
