# $MirOS: www/.htaccess,v 1.7 2006/06/18 17:21:00 tg Exp $

Options ExecCGI Indexes SymLinksIfOwnerMatch
IndexOptions -FancyIndexing
AddHandler cgi-script .cgi

# custom 404 document
ErrorDocument 404 /404.php


# forced text files
<Files LICENCE>
  ForceType text/plain
</Files>

<Files ISC-Licence>
  ForceType text/plain
</Files>

<Files MirOS-Licence>
  ForceType text/plain
</Files>

<Files gzsigkey.cer>
  ForceType application/x-x509-ca-cert
</Files>


# "hidden" files
<Files cvsweb.conf>
  Order deny,allow
  Deny from all
</Files>

<Files wiki.cfg>
  Order deny,allow
  Deny from all
</Files>

<Files wiki.map>
  Order deny,allow
  Deny from all
</Files>

<Files wikipass.sh>
  Order deny,allow
  Deny from all
</Files>
