/* $MirOS: www/vsmini.css,v 1.10 2005/12/27 18:59:37 bsiegert Exp $ */
/*-
 * The MirOS Project - Webpages
 * Copyrighted material; read LICENCE for terms of use.
 *-
 * This is the master stylesheet for the new-style MirOS homepage.
 * Credits to Jupp cnuke Söntgen <cnuke@66h.42h.de> for his feedback.
 *
 * Stylesheet variant: bare (no colours defined), mini (no fonts either)
 */

body {
	max-width:100%;
	padding:2px;
}

.legalese {
	font-size:4pt;
	font-family:fixed,Terminal,monospace; }

.legalbig {
	font-size:7pt;
	font-family:fixed,Terminal,monospace; }

tt {
	white-space:nowrap;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

strong {
	text-decoration:underline;
}

strong:hover {
	text-decoration:none;
}

.footer {
	position:absolute;
		left: 0px; right:0px;
	padding:7px;
	margin-top:3px;
	font-size:10pt;
	border-top:inset;
}

.heading {
	position:absolute; overflow:hidden;
		top:2px; left:204px;
		right:2px; height:96px;
	padding:3px;
	font-family:monospace;
	font-size:12px;
}

.index {
	position:absolute;
		top:2px; left:2px;
		width:200px;
}

.content {
	margin-top:100px; margin-left:204px;
	padding-left:2px;
	min-height:224px;
}

.hdrflf {
	position:absolute;
		top:-16px; left:76px;
		width:436px; height:88px;
	font-family:monospace;
	font-size:10px;
	z-index:3;
}

.hdrlnks {
	position:absolute;
		top:7px; left:2px;
		width:98px; height:92px;
	z-index:1;
}

.hdrrhts {
	position:absolute;
		top:4px; left:500px;
		width:85px; height:92px;
	z-index:2;
}

ul.lv1 {
	position:relative; left:-20px; width:95%;
	list-style:disc;
}

ul.lv2 {
	position:relative; left:-20px; width:90%;
	list-style:square;
}

.greyed {
}

.erecta {
	font-weight:bold;
}

.admin {
	color:#000000;
	background-color:#000000;
	display:none;
}

div.wlentry {
	border-bottom: 2px solid #999999;
	padding-top: 9px;
	margin: 0px;
}

div.wlentry h3 {
	margin: 0px;
}
