/* $MirOS: www/vstyle.css,v 1.11 2005/12/27 18:59:37 bsiegert Exp $ */
/*-
 * The MirOS Project - Webpages
 * Copyrighted material; read LICENCE for terms of use.
 *-
 * This is the master stylesheet for the new-style MirOS homepage.
 * Credits to Jupp cnuke Söntgen <cnuke@66h.42h.de> for his feedback.
 */

body {
	max-width:100%;
	background-color:#444444;
	padding:2px;
}

body,p,.content {
	color:#BFBFBF;
	font-family:Times,"Times New Roman",serif;
	font-size:12pt;
}

.legalese {
	background-color:#585858;
	color:#000000;
	font-size:4pt;
	font-family:fixed,Terminal,monospace; }

.legalbig {
	background-color:#585858;
	color:#000000;
	font-size:7pt;
	font-family:fixed,Terminal,monospace; }

tt,pre {
	font-family:fixed,vga,Fixedsys,Terminal,monospace;
	font-size:14px;
}

tt {
	white-space:nowrap;
	color:#989898;
}

a {
	text-decoration:none;
	color:#ffaa00;
}

a:hover {
	text-decoration:underline;
	background-color:#333333;
	color:#ffaa00;
}

strong {
	text-decoration:underline;
}

strong:hover {
	text-decoration:none;
	color:#FFFFFF;
}

.footer {
	position:absolute;
		left: 0px; right:0px;
	padding:7px;
	margin-top:3px;
	background-color:#444444;
	font-size:10pt;
	border-top:inset;
}

.heading {
	position:absolute; overflow:hidden;
		top:2px; left:188px;
		right:2px; height:96px;
	padding:3px;
	background-color:#444444;
	font-family:monospace;
	font-size:12px;
}

.index {
	position:absolute;
		top:2px; left:2px;
		width:184px;
	background-color:#333333;
}

.content {
	margin-top:100px; margin-left:188px;
	padding-left:2px;
	min-height:224px;
}

.hdrflf {
	position:absolute;
		top:-16px; left:60px;
		width:436px; height:88px;
	font-family:monospace;
	font-size:10px;
	z-index:3;
}

.hdrlnks {
	position:absolute;
		top:7px; left:2px;
		width:98px; height:92px;
	z-index:1;
}

.hdrrhts {
	position:absolute;
		top:4px; left:484px;
		width:85px; height:92px;
	z-index:2;
}

ul.lv1 {
	position:relative; left:-20px; width:95%;
	list-style:disc;
}

ul.lv2 {
	position:relative; left:-20px; width:90%;
	list-style:square;
}

.greyed {
	color:#666666;
}

.rcsid {
	white-space:nowrap;
	color:#666666;
	font-size:7px;
}

.erecta {
	font-size:13pt;
}

.admin {
	color:#000000;
	background-color:#000000;
	display:none;
}

div.wlentry {
	border-bottom: 2px solid #333333;
	padding-top: 9px;
	margin: 0px;
}

div.wlentry h3 {
	margin: 0px;
}
