# $MirOS: www/content/.htaccess,v 1.1 2003/10/17 17:17:18 tg Exp $

# custom 404 document
ErrorDocument 404 /404.php

# privacy alert
deny from 212.123.114
deny from 212.123.115

# No directory listing allowed
Options None
