┌──────────────────────────────────┐
│ How to install FixedMisc [MirOS] │
└──────────────────────────────────┘

Just place the three *.bdf files into a directory – such as
/usr/X11R6/lib/X11/fonts/local – which is in the X server’s
FontPath (Section "Files"), then go into that directory and
run “sudo mkfontdir .” and “sudo fc-cache -v .”.

To speed things up, you may want to convert the files from
BDF to PCF (which is architecture-dependent at least by CPU
endianness and probably bit size) first using bdftopcf(1).

To save space, fonts may usually be gzip(1) compressed.

I suggest you have a look at how X11 bitmap font installation
is handled normally in your operating system.

┌────────────────────┐
│ Other font formats │
└────────────────────┘

The following procedure is known to generate a working GNU GRUB 2 font:
• remove all ambiguous glyphs from one font
  – hw:	2614, 26A1, 3099, 309A
  – fw:	0000, 0300, 0301, 0302, 0303, 0307, 0308, 030A, 034F, 0488, 0489,
	20DD, 20DE, 20DF, 20E0, 20E2, 20E3, 20E4, 20E7, 20EA, 2602
• Run the command (hw/fw.bdf are the results from the above):
  grub-mkfont -n 'FixedMisc [MirOS]' -c 14 -d 4 -o FixedMisc.pf2 \
      -v hw.bdf fw.bdf

Future direction: the ambiguous glyphs will be separate, to be
included only where desirable.

Some environments (Qt 5) require an X11 bitmap font to have only one
width; that can be achieved by:
  sed 's/FixedMisc/FixedMiscHW/g' <mirf18hw.bdf >mirfhw18.bdf
Future consideration could be a FixedMiscCombined font, hoping that
merging those in a single BDF/PCF file is workable with both the
file formats and Qt.

To create a Linux console font (in (mostly) cp437 encoding), use the
script from mircvs://contrib/fonts/tools/bdftopsf.pl like so:
  bdftopsf.pl +h -u +1 <mirf16v8.bdf >mirf16v8.psf
Generate a second binary with an embedded UCS-2 map:
  psfaddtable mirf16v8.psf mirf16v8.map mirf16v8.psfu

There is also a Linux framebuffer console font (512 glyphs in a
font-specific encoding, 9x18) made from this, we are working on
extracting the build method from the Debian-specific surroundings.

This font (the binary without the UCS map) can also be used in
SYSLINUX by copying mirf16v8.psf to the same directory pxelinux.0,
syslinux.efi, etc. are in and adding the following line to the config:
  FONT mirf16v8.psf

Note the conversion utilities are licenced under copyleft terms, but
the resulting font binaries are as free (see below) as their sources.

┌──────────────────┐
│ Copyright status │
└──────────────────┘

Bitmap fonts are not subject to Copyright law in Germany,
thus I cannot offer a licence. The .bdf files do not contain
information other than the glyph bitmaps, font identification
metainformation and versioning comments, and as such, do not
contain copyrightable information. This README is probably
trivial. It was written in 2013, 2015, 2016, 2018 by mirabilos;
the font effort was started in the 1990s, Fixed [Misc] in 2007.

According to WP:PD, “a rasterized representation (e.g. bitmap)
of the characters in a scalable font is not protected by
copyright in the United States”, either.

In countries where the Public Domain status is not valid,
I offer a CC0 (Creative Commons Zero) or any OSI approved
Open Source Licence as fallback, for my parts. The bitmaps
are derived primarily from XFree86® 4.5 fonts 9x18, 18x18ko
and in parts 18x18ja, with additions from:
• my local bugfixing and extending within MirBSD
• merging new glyphs and bugfixes (but not new bugs) from X.org
  (specifically git master up to 17 May 2013)
• merging some glyphs (after padding) from GNU Unifont,
  specifically the Debian unifont (= 5.1.20080914-1.1) package
• more extending and bugfixing, and other glyph changes by me
  including DIN 1450-inspired legibility improvements

That means the result is probably GPLv2 (only) with font embedding
exception. However, the German argument here is that a bitmap font
cannot be distinguished from a font embedded in a document after
rendering that document as bitmap, which would leave us with only
a request to credit various authors and trademarks. TINLA, and if
this is not enough for you seek legal counsel yourself.

The preferred form of modification for X bitmap fonts is BDF or
an equivalence transformation: http://www.mirbsd.org/man1/bdfctool
Source: http://www.mirbsd.org/cvs.cgi/X11/extras/bdfctool/

__________________________________________________________________________
$MirOS: contrib/fonts/fixed/README.dist,v 1.7 2018/04/29 17:20:00 tg Exp $
