#!/usr/bin/make -f
# $MirOS: contrib/hosted/tg/deb/host/debian/rules,v 1.3 2011/07/28 17:19:14 tg Exp $
#-
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

CC?=		gcc
CFLAGS=		-Wall -g

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

PMAKE_ENV:=	LC_ALL=C
PMAKE_ENV+=	CC='${CC}'
PMAKE_ENV+=	CFLAGS='${CFLAGS}'
PMAKE_ENV+=	CPPFLAGS='${CPPFLAGS}'
PMAKE_FLAGS:=	DEBIAN=Yes
# disable -Werror for package build (comment this out if developing)
PMAKE_FLAGS+=	NOGCCERROR=Yes

build build-arch build-indep: debian/.build_stamp

debian/.build_stamp:
	dh_testdir
	-rm -f debian/.*_stamp
	-rm -rf builddir
	mkdir builddir
	cp Make* host.* builddir/
	cd builddir && env ${PMAKE_ENV} pmake ${PMAKE_FLAGS} clean
	cd builddir && env ${PMAKE_ENV} pmake ${PMAKE_FLAGS} obj
	cd builddir && env ${PMAKE_ENV} pmake ${PMAKE_FLAGS} depend
	cd builddir && env ${PMAKE_ENV} pmake ${PMAKE_FLAGS}
	touch $@

clean:
	dh_testdir
	-rm -f debian/.*_stamp
	-rm -rf builddir
	dh_clean

binary-indep:

binary-arch: build
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	mv  debian/mirhost/usr/bin/host \
	    debian/mirhost/usr/bin/mirhost
	mv  debian/mirhost/usr/share/man/man1/host.1 \
	    debian/mirhost/usr/share/man/man1/mirhost.1
#	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
