Source: mbsd-bug
Section: devel
Priority: extra
Maintainer: Thorsten Glaser <tg@mirbsd.de>
Homepage: http://mirbsd.de/
Build-Depends: debhelper (>= 4.0.0), binutils-dev, bison, flex,
 sharutils, texinfo
Standards-Version: 3.8.0
Vcs-CVS: _anoncvs@anoncvs.mirbsd.org:/cvs
Vcs-Browser: http://cvs.mirbsd.de/

Package: i386-mirbsd-toolchain
Architecture: any
Depends: ${shlibs:Depends}
Description: MirBSD/i386 compiler, assembler, linker and binary utilities
 GNU Compiler Collection (C and C++) and GNU Binutils targetting MirOS BSD
 on the 32-bit i386 ELF platform.
 The programmes in this package are used to compile, assemble, link and
 manipulate C/C++ source, ELF binary and object files.
 They may be used in conjunction with the MirBSD system headers and
 various libraries to cross-build programmes.

Package: sparc-mirbsd-toolchain
Architecture: any
Depends: ${shlibs:Depends}
Description: MirBSD/sparc compiler, assembler, linker and binary utilities
 GNU Compiler Collection (C and C++) and GNU Binutils targetting MirOS BSD
 on the 32-bit sparc ELF platform.
 The programmes in this package are used to compile, assemble, link and
 manipulate C/C++ source, ELF binary and object files.
 They may be used in conjunction with the MirBSD system headers and
 various libraries to cross-build programmes.
